@import "tailwindcss";
@source "../../../../packages/ui/src";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* React Flow overrides */
.react-flow__background {
  background-color: #020617 !important;
  pointer-events: none;
}

.react-flow__controls {
  box-shadow: none !important;
}

.react-flow__controls-button {
  background-color: #0f172a !important;
  border: 1px solid #1e293b !important;
  fill: #94a3b8 !important;
}

.react-flow__controls-button:hover {
  background-color: #1e293b !important;
}

.react-flow__attribution {
  display: none !important;
}
